:root {
	--clr-white: #f2f2f2;
	--clr-black-light: #260101;
	--clr-black-dark: #252626;
	--clr-accent-light: #04d9d9;
	--clr-accent-dark: #038c8c;
}

html,
body {
	font-family: "Montserrat", sans-serif;
	background-color: var(--clr-white);
	color: var(--clr-black-light);
	overflow-x: hidden;
}

/* Custom Font-Color */
.text-white {
	color: var(--clr-white) !important;
}
.text-black-light {
	color: var(--clr-black-light) !important;
}
.text-black-dark {
	color: var(--clr-black-dark) !important;
}
.text-accent-light {
	color: var(--clr-accent-light) !important;
}
.text-accent-dark {
	color: var(--clr-accent-dark) !important;
}

/* Custom Background-Color */
.bg-white {
	background-color: var(--clr-white) !important;
}
.bg-black-light {
	background-color: var(--clr-black-light);
}
.bg-black-dark {
	background-color: var(--clr-black-dark);
}
.bg-accent-light {
	background-color: var(--clr-accent-light);
}
.bg-accent-dark {
	background-color: var(--clr-accent-dark);
}

/* Custom Border-Color */
.border-white {
	border-color: var(--clr-white);
}
.border-black-light {
	border-color: var(--clr-black-light);
}
.border-black-dark {
	border-color: var(--clr-black-dark);
}
.border-accent-light {
	border-color: var(--clr-accent-light);
}
.border-accent-dark {
	border-color: var(--clr-accent-light);
}

/* Icon */
.icon {
	font-size: 3rem;
	transition: 100ms;
}
.icon:hover {
	transform: scale(1.05);
}

/* Button */
.a-btn:link,
.a-btn:visited {
	color: var(--clr-black-light);
	text-decoration: none;
	text-transform: uppercase;
}

.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none;
}

/* ********************
** Navbar
******************** */
nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
	position: relative;
	color: var(--clr-black-light);
	text-decoration: none;
	text-transform: uppercase;
}
.a-nav::before,
.a-nav-ham::before {
	visibility: hidden;
	position: absolute;
	content: "";
	background-color: var(--clr-accent-light);
	width: 0;
	height: 4px;
	top: 25px;
	transition: 250ms;
}
/* differences on small screens */
.a-nav-ham::before {
	background-color: var(--clr-accent-dark);
	top: 65px;
}
.a-nav:hover:not(.active):before,
.a-nav-ham:hover:not(.active):before {
	visibility: visible;
	width: 100%;
}
.active {
	color: var(--clr-accent-light) !important;
	font-weight: bold;
}
#nav-collapse {
	transition: 250ms;
	transform: translateX(100%);
}

/* ********************
** Footer
******************** */
footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
	color: #f2f2f2;
	text-decoration: none;
}
