* {
	box-sizing: border-box;
}

:root {
	--accent-light: #8c646b;
	--accent-dark: #591e2e;
	--white-var-1: #f2eadf;
	--white-var-2: #d9d1c7;
	--black: #0d0d0d;
}

html,
body {
	font-family: "Noto Sans", sans-serif;
	background-color: var(--white-var-1);
	color: var(--black);
}

h2,
p {
	margin: 0;
}

p {
	line-height: 1.6;
}

i {
	font-size: 2.5em;
}

/* *****************************************************************
**	Navigation
** ****************************************************************/
nav {
	display: flex;
	justify-content: flex-end;
	background-color: var(--accent-light);
	padding: 2em 2em 2em 0;
}

nav ul {
	list-style: none;
}

nav li {
	line-height: 2;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

nav li:hover {
	transition: 125ms;
	transform: translateX(5px);
}

nav a:link,
nav a:visited {
	color: inherit;
	text-decoration: none;
}
#nav-up {
	position: fixed;
	text-align: right;
	bottom: 0;
	right: 0;
	padding: 5px 30px 5px 0;
	width: 100vw;
	background-color: var(--white-var-1);
	color: var(--accent-light);
	z-index: 99;
}

/* *****************************************************************
**	Main
** ****************************************************************/
section {
	margin-top: 5em;
	padding: 0 1em;
}

#sec-romantic {
	max-width: 1000px;
}

iframe {
	width: 33vw;
	max-width: 300px;
	max-height: 200px;
}

.section-title {
	position: relative;
	display: inline-block;
	color: var(--accent-dark);
	margin-bottom: 2em;
	z-index: 2;
}

.section-title::before {
	position: absolute;
	content: "";
	height: 6px;
	width: 125%;
	background-color: var(--accent-light);
	top: 38px;
	z-index: 1;
}

.container-bio {
	overflow: auto;
	margin-bottom: 3em;
}

.composer-img {
	height: 350px;
	width: auto;
}

.img-right {
	float: right;
	margin-left: 1em;
}

.img-left {
	float: left;
	margin-right: 1em;
}

.container-media {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2.5vw;
}

.container-piece {
	display: flex;
	flex-direction: column;
}

/* *****************************************************************
**	Footer
** ****************************************************************/
footer {
	position: relative;
	display: grid;
	place-content: center;
	margin-top: 5em;
	padding: 1.5em 0 5em;
}
footer::before {
	position: absolute;
	content: "";
	height: 8px;
	width: 100%;
	background-color: var(--accent-light);
}

footer ul {
	list-style: none;
}

footer li {
	display: inline-block;
}

footer li:hover {
	transform: scale(1.1);
}

footer a {
	color: var(--accent-light);
}

/* *****************************************************************
**	Media Queries
** ****************************************************************/
@media (min-width: 1000px) {
	html,
	body {
		font-size: 1.1rem;
	}
}
