<!DOCTYPE html>
<html>

<head>
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        //wenn du hier die lokale IP (statt localhost) setzt, kannst du von anderen Geräten aus drauf zugreifen
        const ws = new WebSocket('ws://10.217.50.66:8080')
        let color = 0;
        const users = {}

        ws.onopen = function () {
            console.log('websocket is connected ...')
            ws.send(JSON.stringify({
                room: '',
                message: 'connected'
            }))
        }

        ws.onmessage = function (ev) {
            console.log(ev)
            addTextMessage(JSON.parse(ev.data));
        }

        function sendMyMessage() {
            ws.send(JSON.stringify({
                room: document.getElementById("room").value,
                message: document.getElementById("text").value,
                user: document.getElementById("user").value,
                color: users[document.getElementById("user").value]
            }))
        }

        function joinRoom() {
            const room = document.getElementById("room").value;
            ws.send(JSON.stringify({
                joinRoom: room,
            }))
            addTextMessage({ message: `Joined to ${room}` })
        }

        function addTextMessage(message) {
            const $message = document.createElement("p");
            console.log(message.color)
            $message.innerHTML = (message.user === undefined ? "" : message.user + "> ") + message.message;
            $message.style.color = message.color;
            document.getElementById("messages").appendChild($message);
        }

        function setUser() {
            users[document.getElementById("user").value] = "#" + Math.floor(Math.random() * 16777215).toString(16);
            console.log(users)
        }


    </script>
</head>

<body class="container-fluid">
    <main class="container">
        <h1 class="my-5">Chat</h1>
        <div id="control" class="container d-flex justify-content-between px-0">
            <div class="col-4">
                <input id="text" class="form-control w-100" type="text" name="messge">
                <button class="btn btn-primary w-100 mt-2" type="button" onclick="sendMyMessage()">Send message</button>
            </div>
            <div class="col-3">
                <input id="room" class="form-control w-100" type="text" name="room"
                    placeholder="Enter your desired room">
                <button class="btn btn-primary w-100 mt-2" type="button" onclick="joinRoom()">Join room</button>
            </div>
            <div class="col-3">
                <input id="user" class="form-control w-100" type="text" name="user">
                <button class="btn btn-primary w-100 mt-2" onclick="setUser()">Set user</button>
            </div>
        </div>
        <div id="messages" class="container mt-5 fs-3 border" style="height: 50vh; overflow-y: scroll;">
        </div>
    </main>
</body>

</html>